
/* small screen */
.container {
    display: grid;
    width: 100vw;
    justify-content: center;
    margin: auto;
    grid-template-columns: 100vw;
    grid-gap: 0px;
    grid-auto-rows: minmax(50px, auto);
    /*grid-template-rows: 20vh 30vh 30vh 10vh; */
    grid-template-areas:
    "top"
    "second"
    "third"
    "fourth"
    "fifth"
    "bottom";
}
body {
    background-color: #f3f2ef;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: space-between;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    padding: 3px;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 98%;
    padding: 10px;
    height: 300px;
    background-color: white;
}

h1 {
    font-style: "Arial";
    color: darkslategray;
    font-size: 1.5em;
}
h2 {
    font-style: "Arial";
    color: darkslategray;
    font-size: 1.5em;
}
h3 {
    font-style:  "Arial";
    color: darkslategray;
    font-size: 1.5em;
}
p {
    font-style: "Arial";
    color: #D3D3D3;
    font-size: 1.1em;
    font-weight: bold;
}

#one {
    grid-area: top;
    margin: 0 0 2px 0;
    width: 100%;
    background-color: white;
}
#two {
    grid-area: third;
}
#three {
    grid-area: fifth;
}

#sixth {
    grid-area: second;
}
#fifth {
    grid-area: fourth;
}
ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}
.custom-button {
    text-decoration: none;
}

button {
    color: #6495ed;
    background-color: #ffffff;
    border: 1px solid #6495ed;
    height: 40px;
    border-radius: 5px;
    width: 50%;
}
#first {
    color: white;
}
#second {
    color: white;
}

/* large screen */
@media(min-width:900px) {
    .container {
        display: grid;
        width: 100vw;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-gap: 0px;
        grid-template-rows: 100px 50px 700px 50px;
        grid-template-areas:
        "top top top top"
        "secondLeft secondRight secondRight secondRight"
        "middleLeft middleRight middleRight middleRight"
        "bottom bottom bottom bottom";
    }

    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: space-between;
        border-radius: 10px;
        padding: 2px;
        flex-wrap: wrap;
        
    }

    .box h2 {
        display: inline-block;
        align-self: flex-start;
    }
    .blog-post {
        border: 1px solid #D3D3D3;
        margin: 10px;
        width: 250px;
        height: 300px;
        display: block;
        padding: 10px;
    }
    #one {
        grid-area: top;
        font-style:"Arial";
        color: "blue";
        margin: 0;
        background-color: white;
        margin-bottom: 5px;
        width: 100%;

    }
    #two {
        grid-area: middleLeft;
        flex-direction: column;
        justify-content: start;
        background-color: white;
    }
    #three {
        grid-area: middleRight;
    }

    #fifth {
        grid-area: secondRight;
    }
    #sixth {
        grid-area: secondLeft;
    }

    h1 {
        font-style: "Arial";
        
        font-size: 2em;
    }

    a {
        color: #6495ed;
    }

    .date {
        color: grey;
        font-size: .75em;
        line-height: 0px;
    }
    .title {
        font-style: "Candara";
    }

    ul {
        list-style-type: none;
    }
    #first {
        color: white;
    }
    #second {
        color: white;
    }
}